@font-face {
    font-family: 'Louis George Cafe\'';
    src: url('../font/LouisGeorgeCafe.woff2') format('woff2'), url('LouisGeorgeCafe.woff') format('woff'), url('LouisGeorgeCafe.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    display: block;
    overflow-x: hidden;
    font-family: 'Louis George Cafe\'';
}

body,
html {
    height: 100%;
    scroll-behavior: smooth;
    background: #4e60ac;
    font-family: 'Louis George Cafe\'';
}

a {
    color: #87a1f4 !important;
}

.bg_5 h1 {
    color: #4e60ac;
}

.tittle {
    color: #fff;
    transition: color 2s;
}

.bg_2 .container-fluid:hover>.tittle,
.bg_3:hover .tittle h1,
.bg_3_2:hover .tittle h1,
.bg_4:hover .tittle_int h1,
.bg_3:hover .tittle,
.bg_3_2:hover .tittle,
.bg_4:hover .tittle_int {
    color: #4e60ac;
    transition: color 1s;
}

.bg_2 .container-fluid:hover>.tittle p,
.bg_3:hover .tittle p,
.bg_3_2:hover .tittle p,
.bg_4:hover .tittle_int p {
    color: #000;
    transition: color 1s;
}

.card {
    border: none;
}

.logo svg {
    width: 0px !important;
    transition: width 2s;
}

.logo_b a svg {
    width: 30px !important;
    transition: width 2s;
    fill: #fff;
}

.navbar-dark .d-flex svg {
    width: 30px;
    fill: #FFF;
}

.navbar-dark {
    background-color: #4e60ac !important;
}

.navbar-dark a img {
    width: 50px;
}

.navbar-dark a {
    color: white !important;
    transition: color 1s;
}

.navbar-dark ul li a:hover {
    color: #353535 !important;
    text-decoration: underline;
}

.navbar-dark ul li a:active {
    color: #353535 !important;
    text-decoration: underline;
}

#start,
#graphic,
#interaction_ux,
#interaction_apex {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 100%;
}

.bg_1 {
    background-image: url("../images/bg_1.jpg");
    min-height: 100%;
}

.bg_2 {
    background-color: none;
    min-height: 100%;
}

.bg_3 {
    background-image: url("../images/bg_3.jpg");
    min-height: 100%;
}

.bg_3_2 {
    background-image: url("../images/bg_3_2.jpg");
    min-height: 100%;
}

.bg_4 embed {
    height: 600px;
    ;
}

@media (max-width: 991.98px) {
    .bg_2 .tittle,
    .bg_3 .tittle h1,
    .bg_3_2 .tittle h1,
    .bg_4 .tittle_int h1,
    .bg_3 .tittle,
    .bg_3_2 .tittle,
    .bg_4 .tittle_int {
        color: #4e60ac;
        transition: color 1s;
    }
    .bg_2 .container-fluid .tittle p,
    .bg_3 .tittle p,
    .bg_3_2 .tittle p,
    .bg_4 .tittle_int p {
        color: #000;
        transition: color 1s;
    }
    .w-dynamic {
        width: 50%;
    }
}